# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter/Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Firebase config files (keep out of Git)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Environment variables
.env

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
